/* Make the full-screen overlay non-blocking by default */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;          /* above the map visuals */
  /* pointer-events: none; let clicks pass through*/
  /* Removed this line because it will stop us from clicking on the buttons in the UI*/
}

.map-page {
    display: flex;
    height: 100vh;
    font-family: "Helvetica";
    position: relative;
}

.sidebar {
    width: 100px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.sidebar-button {
    margin: 20px 0;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    font-size: 12px;
    color: black;
}

.sidebar-button img {
    width: 30px;
    height: 30px;
    margin-bottom: 1px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px 10px;
    width: 250px;
    background: #fff;
}

.search-icon img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.search-input {
    flex: 1;
    background-color: white;
    border: none;
    outline: none;
    font-size: 14px;
}

.go-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 8px;
}
